<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Music-Here</title>


</head>
<body>
<div class='main'>
    <div class='left_block'>
        <div class='logo'>
            <img src=''>
        </div>
        <div class='vhod'>
            <button class='vhod_reg'>Вход / Регистрация</button>
        </div>
        <div class='play_list'>
            <div class='folder'>
                <div class='icon_folder'></div>
                <div class='text_play_list'>Плэйлист</div>
                <div class='clear'></div>
            </div>
            <div class='folder'>
                <div class='icon_folder album'></div>
                <div class='text_play_list'>Альбомы</div>
                <div class='clear'></div>
            </div>
            <div class='folder'>
                <div class='icon_folder favorit'></div>
                <div class='text_play_list'>Любимое</div>
                <div class='clear'></div>
            </div>
            <div class='folder'>
                <div class='icon_folder prosluwanoe'></div>
                <div class='text_play_list'>Прослушанное</div>
                <div class='clear'></div>
            </div>
        </div>
        <div class='player'>
            <div class='name_hz_d'>
                <div id='status' class='hz_ce_pihati'>Хз что пихать</div>
                <div class='add_to_playlist'></div>
                <a class='a_download_music_playlist' href='' download>
                    <div class='download_music_playlist'></div>
                </a>

                <div class='clear'></div>
            </div>
            <div class='img_gruppa'>
                <img src=''>
            </div>
            <div class='s_dobrim_utrom'>
                <marquee id='name_music_here' scrollamount="2">C добрым утром</marquee>
                <div class='volume_play'>

                </div>
                <div class='volume_osnovn'>
                    <div id="master_vol"></div>
                </div>
                <div class='clear'></div>
            </div>
            <div class='name_grupa_S'>Звери</div>
            <div class='polosa_zagr'>
                <div class='time time_ot'>0:00</div>
                <div id='polosa' class='polosa'>
                    <div id='zagr_pesni' class='zagr_pesni'>
                        <div id='prosluwanno' class='prosluwanno'>
                            <div class='crug_zagr'></div>
                        </div>
                    </div>
                </div>
                <div class='time time_do'>2:36</div>
                <div class='clear'></div>
            </div>
            <div class='icon_play'>
                <div class='iconki_play peremewati'></div>
                <div class='iconki_play prev'></div>
                <div id='play' class='play'></div>
                <div class='iconki_play next'></div>
                <div class='iconki_play povtor'></div>
                <div class='clear'></div>
            </div>
        </div>
    </div>
    <div class='right_block'>
        <div id='poloza_zagr_search'>
            <div id="search">
                <form>
                    <input id="field" name="search[name]" type="text"/>

                    <div id="delete">

                    </div>
                    <input id="submit" name="submit" type="submit" value="Поиск"/>
                </form>
            </div>
        </div>
        <div class='gruppi'>

        </div>
        <div class='music'>
            <div class='tot_music'>
                <div class='play_like'>

                </div>
                <div class='name_music'>
                    Название
                </div>
                <div class='palka_music'>
                    |
                </div>
                <div class='name_music'>
                    Исполнитель
                </div>
                <div class='palka_music'>
                    |
                </div>
                <div class='name_music'>
                    Группа
                </div>
                <div class='name_music dop_nastr'>
                    Доп. настройки
                </div>


                <div class='clear'></div>
            </div>
            <div class='one_music'>
            </div>
        </div>
    </div>
    <div class='clear'></div>
</div>
<div id="test"></div>
<div id="xz"></div>
</body>

</html>